{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Practice{% endblock %}</h1>
    <style>
        #loader {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
            0% {-webkit-transform: rotate(0deg);}
            100% {-webkit-transform: rotate(360deg);}
        }
        @keyframes spin {
            0% {transform: rotateX(0deg);}
            100% {transform: rotate(360deg);}
        }
    </style>
    <script>
        function show_loader() {
            document.getElementById("loader").style.display = "block";
            document.getElementById("practice_content").style.display = "none";
        }
    </script>
{% endblock %}

{% block content %}
    <div id="loader" style="display: none;"></div>
    <div id="practice_content" class="row">
        <div class="column" style="width: 25%">
            <form method="POST">
                <label for="date_practice">Date</label>
                <input name="date_practice" id="date_practice" type="date" value="{{ request.form['date_practice'] }}">
                <label for="submit">Start</label>
                <input name="submit" id="submit" type="submit" value="Run" onclick="show_loader()">
            </form>
        </div>
        {% if data %}
            <div class="column" style="width: 50%;">
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load("current", {packages:["line"]});
                    google.charts.setOnLoadCallback(draw_chart);
                    function draw_chart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Time', 'Coronavirus', 'Covid-19', 'Covid19'],
                        ['2020/9/17 12:00', 2193, 1576, 1071],
                        ['2020/9/17 13:00', 3346, 2754, 1739],
                        ['2020/9/15 23:00', 1951, 1876, 2086]
                    ]);

                        var options = {
                            chart: {
                                title: 'practice Keyword analysis',
                                curveType: 'function'
                            },
                            width: 900,
                            height: 500
                        };

                        var chart = new google.charts.Line(document.getElementById('linechart_material'));
                        chart.draw(data, google.charts.Line.convertOptions(options));
                    }
                </script>
                <div style="margin: auto; width: 690px;">
                    <div id="linechart_material" style="width: auto; height: 500px;"></div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}